/* 
    Author: Gwyn, Samii
    Date: 25/10/23

    Adding grids into the mix
    content: stylesheet for the prices page
*/



#pricegrid 
{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 15px;
    align-content: center;
}



/*places the prices from wednesday till friday in the first row and first column of the grid */
#midWeek 
{
    grid-column: 1/1;
    grid-row: 1/1;
    text-align: center;
    font-size: larger;
}

/*places the prices in the weekend in the second column of the first row*/
#weekEnd 
{
    grid-column: 2/2;
    grid-row: 1/1;
    text-align: center;
    font-size: larger;
}


/*removes the bullets of the list*/
#pricegrid ul 
{
    list-style-type: none;
}