/* 
authors: Samii, Gwyn, Loek
date: 27/9/23

content: css that needs to be applied to the entire website
*/


/*loads the file containing the font used on the entire website*/
@font-face 
{
    font-family: "Minercraftory";
    src: url(../fonts/Minercraftory.ttf);
}

/*gives the entire body styling*/
body 
{
    font-family: "Minercraftory"; /*sets the font to the custom font that was loaded above*/
    padding-top: 60px; /*gives the body a padding of 60 pixels at the top of the page to make room for the navbar*/
    background-image:url(../images/amogus_space.jpg); /*sets the background to an image*/
    background-repeat: repeat; /*tells the website that the background image has to be constantly repeated so that it convers the entire background of the webpage*/
    background-size: 420px; /*sets the size of the background image to 420 pixels*/
    color: lawngreen; /*makes the text on the entire page green*/
    overflow-x: hidden; /*removes the scrollbar on the bottom of the page to prevent it from messing with the website, as a certain setting in windows 11 causes the site to look a bit different when turned off*/
}


.colorgold
{
    color: goldenrod; /*gives all text located inside elements with the class 'colorgold'  a golden color (used almost exclusivly on figcaptions)*/
}

.center 
{
  display: block; /*tells all elements witht the class 'center' to behave like a block element*/
  margin-left: auto; /*tells the browser to automatically define the margin of the elemtent*/
  margin-right: auto;
  width: 50%; /*sets the width to 50% of the size of the webpage*/
}