
@font-face 
{
    font-family: "Minercraftory";
    src: url(../fonts/Minercraftory.ttf);
}

body 
{
    font-family: "Minercraftory";
    margin: 0px; /*  this fixes navbar  */
    background-image: linear-gradient(#2C2E31, #942C8F);
    color: lawngreen;
}

#content
{
    margin: 0px 8px;
}
