/* 
    Author: Gwyn
    Date: 25/10/23

    Adding grids into the mix
*/


/*
    Yeah, this is gonna be hard to explain properly. To start, I didn't really understand what I was doing at first.
    The way I understand it, display: grid is just one of those things you need, well, a grid, I mean.
    Then the colums and rows. I think you just put auto for the amount you want, meaning auto auto auto gives 3 columns.
    The gap just creates some space between the boxes in the grid.
    Align-content: center just puts the grid in the center of the page. I'm unsure if this one actually works.
    Position: fixed puts the grid into the text. Well underneath the text, like right below it. It merges the formatting. Other words for make it look good.
    Width: 100vh just makes it as wide as the view, the page.
*/
#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 15px;
    align-content: center;
    position: fixed;
    width: 100vw;
}

/*
    These are simpler, the grid-row just says it takes the full row. Rows are horizontal, so it works. Just trust me on this.
    Grid-column I actually have to explain. 1/1 means it takes up 1 through 1, so only the first. 2/2 works the exact same, it takes only the second slot an so on.
    Text-align: center makes the text go middle of grid block. 
*/

#midWeek {
    grid-column: 1/1;
    grid-row: 1/1;
    text-align: center;
}

#weekEnd {
    grid-column: 2/2;
    grid-row: 1/1;
    text-align: center;
}

#closed {
    grid-column: 3/3;
    grid-row: 1/1;
    text-align: center;
}