
@font-face 
{
    font-family: "Minercraftory";
    src: url(../fonts/Minercraftory.ttf);
}

body 
{
    font-family: "Minercraftory";
    padding-top: 60px;
    background-image:url(../images/vaporwave_jpg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: lawngreen;
}

#gamestitle {
    text-align: center;
    
}