
@font-face 
{
    font-family: "Minercraftory";
    src: url(../fonts/Minercraftory.ttf);
}

body 
{
    font-family: "Minercraftory";
    padding-top: 60px;
    background-image:url(../images/amogus_space.jpg);
    background-repeat: repeat;
    background-size: 420px;
    color: lawngreen;
    overflow-x: hidden;
}


#gamestitle {
    text-align: center;
    
}

.colorgold
{
    color: goldenrod;
}

.center 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}