/* Adds black background color to top navigation */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%; /*, -5.5px, 0px, 0px, 0px;  fuck that one line that just doesn't wanna go awyay "ooh immona mess wit you" fuck you. how about that you b-
                   okay. what the fuck? this shit just?? doesn't work anymore??? removing the pixel changes, maybe that fucked with it inno  
                   i am going mentally insane. my fucking firefox bar, I thought the page was fucked. it was just firefox. I just, can't, man 
                   all these lines are different problems btw, because I forgot to re-add the semi-colon. 
                   this thing has a mind of its own like, why? why, just why? it sticks, but lower? and it's suddenly smaller now? I don't get it man, I just don't 
                   just adding this for anyone else, don't remove this. just add another line anytime you try and fail. put your name after you're done too. -Gwyn */ /* i fixed the issue of it not being at the top i am now trying to fix the size - loek */
  }
  
  /* Styles the links */
  .navbar a {
    float: top;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Hover color change */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* active color change */
  .navbar a.active {
    background-color: #0031d2;
    color: white;
  }

  /* Adds black background color to bottom navigation */
.navbar_below {
  background-color: #333;
  overflow: hidden;
  float: center;
}

/* Styles the links */
.navbar_below a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hover color change */
.navbar_below a:hover {
  background-color: #ddd;
  color: black;
}

/* active color change */
.navbar_below a.active {
  background-color: #0031d2;
  color: white;
}

/* to avoid content overlay */
.main {
  margin-top: 30px; 
}