/* 
    Author: Gwyn, Samii
    Date: 26/10/23

    stylesheet for the footer

*/





footer 
{
    margin: 0px -8px -8px; /*adjusts the left, right and bottom margins so the footer is directly against the edges of the screen*/
    position: absolute; /*gives the footer an absolute position beneath the content wrap*/
    bottom: 0; /*specifies where in the page container the footer is located, with 0 meaning it has a 0 pixel ofset from the bottom of the page container*/
    background-color:rgb(51, 51, 51); /*sets the background color to an rgb value*/
    height: fit-content;
    width: 100vw; /*sets the width to 100% of the view window width*/
}

#page-container 
{
    position: relative;
    min-height: 100vh; /*sets the minimum height of the page container to 100% of the view window height*/
}
  
#content-wrap 
{
    padding-bottom: 14rem;    /* adds padding to prevent the footer from overlapping other elements */
}

#grid 
{
    display: grid; /*tells the browser to place the content inside the element as a grid and positions them using columns and rows*/
    border-top: 3px solid blueviolet; /*creates a 3 pixel high solid purple border above the element*/
    grid-template-columns: auto auto; /*automatically defines the sizing of the grid columns*/
    grid-template-rows: auto; /*automatically defines the sizing of the grid rows*/
    gap: 0px; /*sets the gap between grid items to 0 pixels*/
    align-content: center; /*aligns the items inside grid to be at the center of their individual dividers */
    box-sizing: border-box; /*specifies that the margins borders and padding should be counted as part of the element when defining element size, so a 300 pixel wide element with a 50 pixel margin is in reality a 250 pixel element with 50 pixels margin*/
}

#grid2 
{
    margin: 0px -8px;
    display: grid;
    border-top: 3px solid blueviolet;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 0px;
    align-content: center;
    box-sizing: border-box;
}

#grid3 
{
    margin: 0px -8px;
    display: grid;
    border-top: 3px solid blueviolet;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 0px;
    align-content: center;
    box-sizing: border-box;
}


.leftSide 
{
    grid-column: 1/1; /*places the grid item in the first column of the grid*/
    grid-row: 1/1; /*places the grid item in the first row of the grid*/
    text-align: center; /*aligns the text in the center of the grid item*/
    font-size: larger; /*makes the text larger*/
}

.rightSide 
{
    grid-column: 2/2; /*places the grid item in the second column of the grid*/
    grid-row: 1/1;
    text-align: center;
    font-size: larger;
}

.evenRighterSide 
{
    grid-column: 3/3;
    grid-row: 1/1;
    text-align: center;
    font-size: larger;
}


#grid ul /*selects all ul elements that are children of the element that have grid as ID*/
{
    list-style-type: none; /*removes the bullets in front of the list items*/
}

#grid2 ul 
{
    list-style-type: none;
}

footer ul 
{
    font-size: smaller; /*makes the text smaller*/
}

footer h5 
{
    font-size: large;
}

li h5 
{
    font-size: larger;
}

footer figcaption 
{
    font-size: smaller;
}

#content
{
    margin-bottom: 20px; /*sets the bottom margin to 20 pixels*/
}

